html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 60px;
  text-align: center;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #7f5539
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #7f5539;
}
img {
  display: block;
  margin: 0 auto;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #fefae0;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img[src] {
  border: 3px solid black  
}